@font-face {
    font-family: roboto;
    src: url(assets/Roboto-Regular.ttf)
}

* {
    margin: 0;
}

body {
    font-family: roboto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header {
    align-self: flex-start;
    padding: 32px 64px 48px 256px;
    
    
}

#book-form {
    display: flex;
    justify-content: start;
    gap: 32px;
    align-items: center;
    padding-left: 256px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.library {
    display: flex;
    justify-content:start;
    padding: 64px;
    padding-left: 256px;
}

table {
    border-collapse: separate;
    border-spacing: 0 32px;
    width: 56rem;
}

col {
    width: 256px;
}

col.delete {
    width: 128px
}

th {
    text-align: left;
    border-bottom: 1px solid rgb(88, 88, 88);
}

th+th {
    border-top: 1px solid rgba(88, 88, 88, 0.192);
}

