@font-face {
    font-family: roboto;
    src: url(assets/Roboto-Regular.ttf)
}

* {
    margin: 0;
}

body {
    font-family: roboto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header {
    align-self: flex-start;
    padding: 32px 64px 48px 256px;
    color: hsl(12, 6.5%, 15.1%);
}

#book-form {
    display: flex;
    justify-content: start;
    gap: 32px;
    align-items: flex-end;
    padding-left: 256px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    color: hsl(12, 6.5%, 15.1%);
}

.library {
    display: flex;
    justify-content:start;
    padding: 64px;
    padding-left: 256px;
}

table {
    border-collapse: collapse;
    width: 56rem;
}

col {
    width: 256px;
}

col.delete {
    width: 128px
}

th {
    color: hsl(12, 6.5%, 15.1%);
    text-align: left;
    border-bottom: 1px solid rgb(88, 88, 88);
}

td{
    color: #78716C;
    border-bottom: 1px solid rgba(88, 88, 88, 0.212);
    padding-top: 24px;
    padding-bottom: 24px;
}

button {
    cursor: pointer;
}

button.submit{
    color: hsl(60, 9.1%, 97.8%);
    border: none;
    background-color: hsl(30, 6.3%, 25.1%);
    padding: 8px;
}

button.delete{
    border: 1px solid hsl(24, 5.4%, 63.9%);
    background: none;
    color: hsl(12, 6.5%, 15.1%);
}

